section.slide.about#about
    .slide-text-all 
        h2.about-header Hi, there! <br>I'm Sami. 
        .slide-text-pwrap
            p I’m a designer with a publication and illustration background who is pursuing their interest in social + digital design. Currently, I'm learning front-end web development practices and common web libraries to better inform my practice.
            p My hope is to use these interdisciplinary skills to provide a more comprehensive skillset to causes and mission-driven organizations that focus on people over profit.
            p.proj-leadin Some of my projects include...
