section.slide.about(id="about")
    .about-intro
        h3.about-header My name is Samanta&nbsp;
            span.nobreak Moya Medina.
        .about-desc 
            p I’m interested in using my skills to help spread information and people power to causes and solutions for those in need. I have a B.F.A. and an A.A.S. in Graphic Design.
            p I am currently freelancing but I would love to hear about any interesting opportunities! Often I prioritize non-profits, great causes, and work for good.
    .about-links
        p If you want to talk about details, reach out to me at <a href="mailto:hi@smoya.me" target="_blank">hi@smoya.me</a>!
        p You can also view my <a href="https://www.linkedin.com/in/smoyamedina/" target="_blank">LinkedIn</a>.     