section.slide.about
    .slide-text-all 
        h3 Hi, there! <br>I go by Sami. 
        .slide-text-pwrap
            p I’m a designer with an illustration background who’s interested in pushing for worthy causes while developing her digital skillset.
            p I constantly ask questions and seek out answers to best inform my practice and process. I am learning JS animation libraries and front-end dev practices to inform my digital design!
            p.proj-leadin Some of my projects include...