section.slide.finds 
    .finds-intro
        h2.finds-header Interesting Finds 
        .finds-desc 
            p Sometimes I come across a resource or article that helps me improve as a designer or as a person. Maybe you'll find them interesting, too. 
            p I'll be updating this casually as I come across them.
    .finds-card-contain 
        each find in myFinds.myFinds
            a.finds-card(href=`${find.myFindLink}` data-cursor-class="arrow")
                .overline 
                    span.finds-pub #{find.myFindPublisher}
                    span.finds-auth #{find.myFindAuthor}
                .finds-title  
                    h3.finds-title #{find.myFindTitle}
        