footer.footer
    span.overline.ol-nav Nav
    .locat
        span.overline.ol-locat Based in 
        .locat-title DC + Bmore ❤
    .finds
        span.overline.ol-finds Latest Interesting Finds 
        article.finds-card 
            cite.finds-title
                h3 Creative Director and Teacher Forest Young on Designing a More Inclusive Future.
            span.finds-by By Ksenya Samarskaya 
    .stamp
        span.overline.ol-stamp Made with love &copy; 2021
        span.overline.ol-stamp Have fun. Stay safe. 