footer.footer
    span.overline.ol-nav Nav
    .locat
        span.overline.ol-locat Based in 
        .locat-title DC + Bmore ❤
    .finds
        span.overline.ol-finds Latest Interesting Finds
        each find in myFinds.myFinds
            article.finds-card 
                cite.finds-title
                    a(href=`${find.myFindLink}`)
                        h3 #{find.myFindTitle}
                span.finds-by #{find.myFindAuthor}
        else 
            h3 Are being used right now! So busy... 
    .stamp
        span.overline.ol-stamp Made with love &copy; 2021
        span.overline.ol-stamp Have fun. Stay safe. 