footer.footer(data-scroll-section)
    .footer-info 
        .fi-links
            .overline.flinks-overline Quick Links
            .fi-link 
                a(href="mailto:hi@smoya.me" cursor-class="arrow" data-scroll-to) Contact
            .fi-link 
                a(href="https://www.linkedin.com/in/smoyamedina" cursor-class="arrow" data-scroll-to) LinkedIn 
            .fi-link 
                a(href="#projects" cursor-class="arrow" data-scroll-to) Projects
    .footer-bar
        .marquee 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!