footer.footer(data-scroll-section)
    .footer-info 
        .fi-links
            .overline.flinks-overline Links
            .fi-link 
                a(href="linkedin.com/in/smoyamedina") LinkedIn 
            .fi-link 
                a(href="#projects") Projects
        .fi-cta
            .overline.fcta-overline Want to talk details?
            .cta Get in Touch!
    .footer-bar
        .marquee 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!
        .marquee(aria-hidden="true") 
            span.marquee-txt DC + Bmore
            span.marquee-txt hi@smoya.me
            span.marquee-txt Made with TLC &copy; 2021
            span.marquee-txt Have fun and stay safe!