footer.footer(data-scroll-section)
    .marquee 
        span.marquee-txt DC + Bmore
        span.marquee-txt hi@smoya.me
        span.marquee-txt Made with TLC &copy; 2021
        span.marquee-txt Have fun and stay safe!
    .marquee(aria-hidden="true") 
        span.marquee-txt DC + Bmore
        span.marquee-txt hi@smoya.me
        span.marquee-txt Made with TLC &copy; 2021
        span.marquee-txt Have fun and stay safe!
    .marquee(aria-hidden="true") 
        span.marquee-txt DC + Bmore
        span.marquee-txt hi@smoya.me
        span.marquee-txt Made with TLC &copy; 2021
        span.marquee-txt Have fun and stay safe!
    .marquee(aria-hidden="true") 
        span.marquee-txt DC + Bmore
        span.marquee-txt hi@smoya.me
        span.marquee-txt Made with TLC &copy; 2021
        span.marquee-txt Have fun and stay safe!
    .marquee(aria-hidden="true") 
        span.marquee-txt DC + Bmore
        span.marquee-txt hi@smoya.me
        span.marquee-txt Made with TLC &copy; 2021
        span.marquee-txt Have fun and stay safe!