.footer-info 
    .fi-links
        .overline.flinks-overline Links
        .fi-link 
            a(href="linkedin.com/in/smoyamedina") LinkedIn 
        .fi-link 
            a(href="#projects") Projects
    .fi-cta
        .overline.fcta-overline Want to talk details?
        .cta Get in Touch