header.header(data-scroll-sticky) 
    span.logo-type 
        a(href='/' cursor-class="arrow") smoya.me
    nav.nav-contain 
        ul.nav-list
            li.nav-item 
                    a(href="#about" cursor-class="arrow" data-scroll-to) About 
            li.nav-item 
                a(href="#projects" cursor-class="arrow" data-scroll-to) Projects
            
    //- span.logo-mk &#10022;
