header.header 
    span.logo-type 
        a(href='/') smoya.me 
    span.logo-mk &#10022;
nav.nav-contain 
    ul.nav-list 
        li.nav-item 
            a(href="#projects") Projects
        li.nav-item 
            a(href="#aboutme") About Me
        li.nav-item 
            a(href="#") LinkedIn