header.header(data-scroll-sticky) 
    span.logo-type 
        a(href='/' data-cursor-class="arrow") smoya.me
    nav.nav-contain
        ul.nav-list
            li.nav-item 
                    a(href=`/#about` data-cursor-class="arrow") About 
            li.nav-item 
                a(href=`/#projects` data-cursor-class="arrow") Projects
            
    //- span.logo-mk &#10022;  
