header.header 
    span.logo-type 
        a(href='/') smoya.me
    nav.nav-contain 
        ul.nav-list 
            li.nav-item 
                a(href="/#projects") Projects
            li.nav-item 
                a(href="/#about") About 
    span.logo-mk &#10022;
