header.header(data-scroll-sticky) 
    span.logo-type 
        a(href='/' cursor-class="arrow") smoya.me
    nav.nav-contain 
        ul.nav-list
            li.nav-item 
                    a(href=`/#about` cursor-class="arrow") About 
            li.nav-item 
                a(href=`/#projects` cursor-class="arrow") Projects
            
    //- span.logo-mk &#10022; 
