img.introimg.introimg-a(src=`$(introimg.data.introimg1)`, alt="", srcset="")
img.introimg.introimg-b(src=introimg.data.introimg2, alt="", srcset="")
img.introimg.introimg-c(src=introimg.data.introimg3, alt="", srcset="")

