@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-size: calc(14px + 1.1vw);
  color: #0f1330;
  text-decoration: none;
  font-family: degular, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: #ECE7E4;
}

.header {
  z-index: 90;
}

.nobreak {
  display: inline-block;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: .75rem;
  margin-bottom: .75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0.5rem;
  mix-blend-mode: hard-light;
}

.logo-type,
.logo-mk {
  text-transform: uppercase;
  line-height: calc(14px + 1.1vw);
  display: inline-block;
}

.logo-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.logo-type a {
  font-weight: 800;
  font-family: degular-display, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-mk {
  grid-column: -1 / -2;
  text-align: right;
}

.nav-contain {
  grid-column: -2 / -9;
}

.test-class {
  color: black;
}

.nav-list {
  list-style-type: none;
  text-transform: uppercase;
  line-height: calc(14px + 1.1vw);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[7];
      grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 0.5rem;
}

.nav-item a,
.nav-item {
  display: block;
  text-align: right;
}

.nav-item:first-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.nav-item:last-of-type {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.header,
.footer,
.slide {
  padding: 0 1rem;
}

img {
  border-radius: .5rem;
}

h1,
h2 {
  font-family: degular-display, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.025rem;
  line-height: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -.015em;
  margin-bottom: 2rem;
}

.overline {
  text-transform: uppercase;
  display: inline-block;
}

p {
  margin-bottom: .5rem;
  line-height: 120%;
  letter-spacing: .001rem;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide {
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(20vw, auto);
}

.intro-text .slide-text-all {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide h1 {
  grid-column: 1 / -1;
}

img {
  grid-column: 1 / -1;
}

.slide-text-all,
.projs-slide-misc-txt {
  grid-column: 2 / -2;
}

.hero {
  -ms-flex-line-pack: end;
      align-content: end;
  margin-bottom: 2rem;
  min-height: 70vh;
}

.hero h1 {
  margin: -.5rem 0 auto 0;
}

.intro {
  row-gap: 1rem;
  position: relative;
}

.intro::after {
  content: "";
  z-index: -50;
  position: absolute;
  width: 100%;
  height: 90%;
  margin: 2rem 0 0 0;
  background: #0f1330;
}

.introimg:nth-child(1) {
  max-height: 35vh;
}

.introimg:nth-child(2) {
  grid-column-end: 9;
  aspect-ratio: 4 / 3;
}

.introimg:nth-child(3) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  aspect-ratio: 1;
}

.projs {
  margin: 2rem 0 4rem 0;
}

.projs-card:not(.projs-card:last-of-type) {
  margin-bottom: 10%;
}

.projs-card {
  position: relative;
  display: block;
  display: -ms-grid;
  display: grid;
  margin: 30% 0;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
}

.projs-slide-gall {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projs-text {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projs-dscplne {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: inline-block;
}

.projs-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .25rem 0;
}

.projs-name::after {
  display: inline-block;
  content: '→';
}

.projs-img {
  display: block;
  height: 100%;
  grid-column: 2 / -2;
}

.projs-slide-misc {
  min-height: 100vh;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  position: relative;
  place-items: center;
}

.projs-slide-misc-img-all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(1vh, auto);
  gap: 1rem;
}

.projs-sm-img-indiv {
  height: 100%;
}

.projs-sm-img-indiv:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  margin-left: -1rem;
}

.projs-sm-img-indiv:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.projs-sm-img-indiv:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

.projs-sm-img-indiv:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.projs-sm-img-indiv:nth-child(5) {
  grid-column: 3 / -2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / span 1;
  margin-left: -1rem;
}

.about {
  margin: 2rem 0;
  padding-top: 3rem;
  border-top: 1px solid #0f1330;
}

.about > div {
  grid-column: 2 / -2;
}

.about-intro {
  margin-bottom: 1rem;
}

.about-header > span {
  font-size: inherit;
}

.about-links > p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 500;
  letter-spacing: -.015em;
  margin-bottom: 2rem;
}

.about-links > p a {
  font-size: inherit;
  text-decoration: underline;
}

.finds {
  background: #0f1330;
  padding: 4rem 0 0rem 0;
}

.finds h3,
.finds p {
  color: #ECE7E4;
}

.finds > div {
  grid-column: 2 / -2;
}

.finds-intro {
  margin-bottom: 2rem;
}

.finds-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finds-card .overline .finds-pub,
.finds-card .overline .finds-auth,
.finds-card .finds-title {
  color: #ECE7E4;
}

.finds-pub::after {
  content: ' ✧ ';
}

.finds-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: -.015em;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.finds-header {
  position: relative;
}

.finds-header::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 3rem;
  bottom: -1.1rem;
  border-top: 1.55px solid #ECE7E4;
}

.footer {
  background-color: #0f1330;
  height: 100%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.footer * {
  color: #ECE7E4;
  text-transform: uppercase;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.footer:hover > div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee-txt::after {
  content: "✦";
  display: inline-block;
  padding: 1rem 2rem;
}

.projhero {
  padding-top: 1rem;
  overflow-x: hidden;
}

.proj-pg-desc,
.p-heroimg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 100%;
}

.p-heroimg {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: calc(100% + 2rem);
  min-height: 50vh;
  display: block;
  margin-right: -2rem;
}

.proj-pg-desc {
  grid-column: 1 / -1;
  z-index: 50;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 1rem;
}

.proj-pg-desc .projs-name::after {
  content: none;
}

.proj-prompt-txt {
  grid-column: 2 / -1;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-img-lead {
  display: block;
  width: calc(100% + 2rem);
  margin-left: -2rem;
}

.proj-desc {
  grid-column: 2 / -2;
  margin: 30% 0;
}
/*# sourceMappingURL=style.css.map */