//layout vars
$mb-grid-col-tmplt: repeat(12, minmax(0, 1fr));
$dsk-grid-col-num: repeat(12, minmax(0, 1fr));
$mb-grid-row-tmplt: minmax(20vw, auto);
$grid-col-gap: 1rem;
$mb-gap: .5rem;

// palette
$main-dark: #0f1330;
// $main-dark: #000;
$acc-warm: #ee4266;
$acc-jolly: #ffd23f;
$acc-proud: #42d1b7;
$main-bright: #ECE7E4;

//type style vars

$mb-fontsize: 18px;
// $mb-fontsize: 1rem;
$dsk-fontsize: 24px;

$main-f-display: degular-display,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
$main-f-reg: degular,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$h3-sz: 6.125vw;

$h1-wt: 800;
$h2-wt: 600;
$h3-wt: 500;

// Resets and base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $mb-fontsize;
    color: $main-dark;
    text-decoration: none;
    font-family: $main-f-reg;
}

body {
    background: $main-bright;
}

.header {
    z-index: 90;
}

.nobreak {
    display: inline-block;
}

// ----- Base Styles

// __ container
// .container {
//     padding: 1rem;
// }

// header
.header {
    position: sticky;
    top: .75rem;
    margin-bottom: .75rem;
    display: grid;
    grid-template-columns: $mb-grid-col-tmplt;
    gap: $mb-gap;
    // justify-content: space-between;
    mix-blend-mode: hard-light;
}

.logo-type,
.logo-mk {
    text-transform: uppercase;
    line-height: $mb-fontsize;
    display: inline-block;
}

.logo-type {
    grid-column: 1 / 5;
}

.logo-type a {
    font-weight: $h1-wt;
    font-family: $main-f-display;
}

.logo-mk {
    grid-column: -1 / -2;
    text-align: right;
}

// __ nav

.nav-contain {
    grid-column: -2 / -9;
}

.test-class {
    color: black;
}

.nav-list {
    list-style-type: none;
    text-transform: uppercase;
    line-height: $mb-fontsize;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: $mb-gap;
}

.nav-item a,
.nav-item {
    display: block;
    text-align: right;
}

.nav-item:first-of-type {
    grid-column: 1 / 5;

}

.nav-item:last-of-type {
    grid-column: 5 / 8;


}

// __ overall padding on sides

.header,
.footer,
.slide {
    padding: 0 1rem;
}

img {
    border-radius: .5rem;
}

// headers and hierarchy in general

h1,
h2 {
    font-family: $main-f-display;
}

h1 {
    font-weight: $h1-wt;
    text-transform: uppercase;
    font-size: 2.025rem;
    line-height: 1.5rem;
    // margin: 25vh 0;
}

h2 {
    font-weight: $h2-wt;
    font-size: 2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-weight: $h3-wt;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -.015em;
    margin-bottom: 2rem;
}

.overline {
    text-transform: uppercase;
    display: inline-block;
}

p {
    margin-bottom: .5rem;
    line-height: 120%;
    letter-spacing: .001rem;
}

// images

img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

// slide sizing

.slide {
    min-height: 50vh;
    display: grid;
    gap: $mb-gap;
    grid-template-columns: $mb-grid-col-tmplt;
    grid-auto-rows: $mb-grid-row-tmplt;
}

.intro-text .slide-text-all {
    min-height: 60vh;
    //just to center vertically
    display: flex;
    flex-direction: column;
    justify-content: center;

}

// ------ layout

.slide h1 {
    grid-column: 1 / -1;
}

img {
    grid-column: 1 / -1;
}

.slide-text-all,
.projs-slide-misc-txt {
    grid-column: 2 / -2;
}

// __ hero + intro area

.hero {
    align-content: end;
    margin-bottom: 2rem;
    min-height: 70vh;
}

.hero h1 {
    margin: -.5rem 0 auto 0;
}

.intro {
    row-gap: 1rem;
    position: relative;
}

.intro::after {
    content: "";
    z-index: -50;
    position: absolute;
    width: 100%;
    height: 90%;
    margin: 2rem 0 0 0;
    background: $main-dark;
}

.introimg:nth-child(1) {
    max-height: 35vh;
}

.introimg:nth-child(2) {
    grid-column-end: 9;
    aspect-ratio: 4 / 3;
}

.introimg:nth-child(3) {
    grid-column-start: 7;
    aspect-ratio: 1;
}


// __ proj cards

.projs {
    margin: 2rem 0 4rem 0;
}

.projs-card:not(.projs-card:last-of-type) {
    margin-bottom: 10%;
}

.projs-card {
    position: relative;
    display: block;
    display: grid;
    margin: 30% 0;
    grid-template-columns: $mb-grid-col-tmplt;
}

.projs-slide-gall {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.projs-text {
    position: absolute;
    height: min-content;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.projs-dscplne {
    order: 4;
    display: inline-block;
}

.projs-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25rem 0;
}

.projs-name::after {
    display: inline-block;
    content: '→';
    // text-align: right;
}

.projs-img {
    display: block;
    height: 100%;
    grid-column: 2 / -2;
}

// misc projs section
.projs-slide-misc {
    min-height: 100vh;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: $mb-grid-col-tmplt;
    gap: $grid-col-gap;
    position: relative;
    place-items: center;
}

.projs-slide-misc-img-all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // ^ might be able to change explicit height when animating with js
    z-index: -5;
    //grid inside grid
    display: grid;
    grid-template-columns: $mb-grid-col-tmplt;
    grid-auto-rows: minmax(1vh, auto);
    gap: $grid-col-gap;
}

.projs-sm-img-indiv {
    height: 100%;
}

.projs-sm-img-indiv:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 3 / span 2;
    margin-left: -1rem;
}

.projs-sm-img-indiv:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 1 / span 2;
}

.projs-sm-img-indiv:nth-child(3) {
    grid-column: 2 / 5;
    grid-row: 5 / span 2;
}

.projs-sm-img-indiv:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 7 / span 2;
}

.projs-sm-img-indiv:nth-child(5) {
    grid-column: 3 / -2;
    grid-row: 9 / span 1;
    margin-left: -1rem;
}

// __ about

.about {
    margin: 2rem 0;
    padding-top: 3rem;
    border-top: 1px solid $main-dark;
}

.about>div {
    grid-column: 2 / -2;
}

.about-intro {
    margin-bottom: 1rem;
}

.about-header>span {
    font-size: inherit;
}

.about-links>p {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: $h3-wt;
    letter-spacing: -.015em;
    margin-bottom: 2rem;

    a {
        font-size: inherit;
        text-decoration: underline;
    }
}



// __ Finds

.finds {
    background: $main-dark;
    padding: 4rem 0 0rem 0;

    h3,
    p {
        color: $main-bright;
    }
}

.finds>div {
    grid-column: 2 / -2;
}

.finds-intro {
    margin-bottom: 2rem;
}

.finds-card {
    display: flex;
    flex-direction: column;

    .overline .finds-pub,
    .overline .finds-auth,
    .finds-title {
        color: $main-bright;
    }
}

.finds-pub::after {
    content: ' ✧ ';
}

.finds-title {
    font-weight: $h3-wt;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: -.015em;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.finds-header {
    position: relative;
}

.finds-header::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 3rem;
    bottom: -1.1rem;
    border-top: 1.55px solid $main-bright;
}

// __ footer

.footer {
    background-color: $main-dark;
    height: 100%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.footer * {
    color: $main-bright;
    text-transform: uppercase;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
    // width: max-content;
    // position: relative;
}


.footer:hover>div {
    animation-play-state: paused;
}

.marquee-txt::after {
    content: "✦";
    display: inline-block;
    // margin-left: 2rem;
    padding: 1rem 2rem;
}