@charset "UTF-8";
:root {
  --main-dark: #000000;
  --dark-warm: #EF476F;
  --light-warm: #FDEB9B;
  --dark-cool: #5448C8;
  --light-cool: #76E0AF;
  --main-bright: #e0e0e0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  font-size: calc(14px + 1.1vw);
  font-size: clamp(22px, calc(14px + 1.1vw), 26px);
  color: #e0e0e0;
  text-decoration: none;
  font-family: roc-grotesk, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.orb-canvas {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -2;
  -webkit-animation: fade-in 2s cubic-bezier(0, 1, 0.75, 1);
          animation: fade-in 2s cubic-bezier(0, 1, 0.75, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: lighten;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 2px #e0e0e0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #5448C8;
    border-color: #5448C8;
  }
  #cursor.arrow::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url("https://svgshare.com/i/MzQ.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }
  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

body {
  background: #000000;
}

.header {
  z-index: 90;
  -webkit-animation: fade-in 2s cubic-bezier(0, 1, 0.75, 1);
          animation: fade-in 2s cubic-bezier(0, 1, 0.75, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nobreak {
  display: inline-block;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: .5rem;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.container {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 1rem;
  margin-bottom: .75rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(0, 1fr))[8];
      grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 1rem;
  mix-blend-mode: difference;
}

.logo-type,
.logo-mk {
  text-transform: uppercase;
  line-height: 1rem;
  display: inline-block;
}

.logo-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.logo-type a {
  font-weight: 600;
  font-family: roc-grotesk, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-contain {
  grid-column: -1 / -3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.test-class {
  color: black;
}

.nav-list {
  list-style-type: none;
  text-transform: uppercase;
  line-height: calc(14px + 1.1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.nav-item a,
.nav-item {
  text-align: right;
}

.nav-item a {
  padding-bottom: .25rem;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover,
.nav-item a:focus {
  color: #76E0AF;
  border-color: #76E0AF;
}

.nav-item {
  line-height: 1rem;
}

.nav-item:first-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.nav-item:last-of-type {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.header,
.footer,
.slide {
  padding: 0 1rem;
}

.projs-img,
.p-heroimg,
.p-outcome-img {
  border-radius: .5rem;
  overflow: hidden;
}

.logo-type a,
.logo-mk,
.nav-item a,
.marquee-txt,
.marquee-txt::after,
.overline,
.overline *,
p {
  font-size: 22px;
}

.hero-txt,
.projs-name,
.about-header,
.finds-header .finds-title,
.proj-next-link {
  font-family: roc-grotesk-wide, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-txt,
.projs-name,
.proj-next-link,
.fi-link a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.025rem;
  line-height: 1.5rem;
}

.hero-txt,
.fi-link a,
.proj-next-link {
  font-size: clamp(2.5rem, 7.145vw, 7.155vw);
  line-height: 78%;
  letter-spacing: -.025em;
}

.projects-header {
  display: none;
}

.projs-name {
  font-size: clamp(2rem, 7.145vw, 7.155vw);
  line-height: 84%;
  letter-spacing: -.025em;
}

.about-header,
.finds-header {
  font-weight: 600;
  font-size: clamp(1.75rem, 3.9vw, 2.4rem);
  line-height: 100%;
  margin-bottom: 1.5rem;
}

.finds-title,
.proj-next-ol {
  font-weight: 400;
  font-size: clamp(1.46rem, 3vw, 1.65rem);
  line-height: 115%;
  letter-spacing: -.015em;
}

.overline {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: .03em;
}

p {
  margin-bottom: .5rem;
  line-height: 130%;
  letter-spacing: .019rem;
}

/* width */
::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF476F;
}

img,
.p-outcome-img .p-outcome-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1 / -1;
}

.projs-img,
.p-img-lead {
  border-radius: .5rem;
  overflow: hidden;
  grid-column: 1 / -1;
}

.projs-img-wrap,
.p-outcome-img-wrapper,
.p-heroimg,
.p-img-lead {
  -webkit-box-shadow: 0 0 2em 1em rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 2em 1em rgba(0, 0, 0, 0.17);
}

.slide {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: minmax(5vw, auto);
}

.slide.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  pointer-events: none;
}

.slide h1 {
  grid-column: 1 / -1;
}

.slide-text-all,
.projs-slide-misc-txt,
.finds-intro,
.finds-card-contain {
  grid-column: 1 / -1;
}

.hero {
  -ms-flex-line-pack: end;
      align-content: end;
  margin-bottom: 0rem;
}

.hero h1 {
  margin-bottom: 2.5rem;
}

.hero-txt {
  -webkit-transition: none;
  transition: none;
}

.about {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.about .slide-text-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 35ch;
}

.about .slide-text-all .about-header {
  min-width: 13.5rem;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.about .slide-text-all .slide-text-pwrap {
  min-width: 13.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.projs {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.projs-card {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projs-slide-gall {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projs-text {
  display: block;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  z-index: 90;
  margin-top: .75rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 105%, 0% 105%);
          clip-path: polygon(0 0, 100% 0, 100% 105%, 0% 105%);
}

.projs-dscplne {
  display: inline-block;
  margin-bottom: .25rem;
}

.projs-card .projs-text .projs-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .25rem 0;
  background: linear-gradient(115deg, #e0e0e0 33%, #ada5f5 40%, #ffd9e2 46%, #FEF6D0 49%, #BFF0D9 57%, #e0e0e0 61%);
  background-size: 400%;
  background-position: right;
  -webkit-transition: color .125s ease-in-out;
  transition: color .125s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
}

.projs-card:hover .projs-text .projs-name {
  color: transparent;
  -webkit-animation: projnameanim 1.25s cubic-bezier(0.63, 0.07, 0.92, 0.38) infinite;
          animation: projnameanim 1.25s cubic-bezier(0.63, 0.07, 0.92, 0.38) infinite;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes projnameanim {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes projnameanim {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.projs-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.projs-img-wrap {
  border-radius: .5em;
  display: inline-block;
  position: relative;
  height: 78vh;
  width: 100%;
}

.projs-img-wrap::before {
  display: block;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  position: absolute;
  border-radius: .5rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.finds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #e0e0e0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.finds-intro {
  display: inline-block;
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29ch;
          flex: 1 1 29ch;
}

.finds-card-contain {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29ch;
          flex: 1 1 29ch;
}

.finds-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #e0e0e0;
  border-radius: .5rem;
  padding: 2.5rem 1rem 2rem 1rem;
}

.finds-card:hover,
.finds-card:focus {
  background: #5448C8;
  border-color: #5448C8;
}

.finds-card:not(:last-of-type) {
  margin-bottom: 2rem;
}

.finds-card .overline {
  margin-bottom: .75rem;
}

.finds-pub::after {
  content: ' + ';
}

.finds-title {
  font-weight: 400;
  letter-spacing: -.015em;
}

.finds-header {
  position: relative;
}

.footer {
  background-color: #000000;
  height: 100%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #e0e0e0;
}

.footer * {
  color: #e0e0e0;
  text-transform: uppercase;
}

.footer-info {
  min-height: calc(100vh - 3rem);
  padding: 3rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.flinks-overline {
  color: #EF476F;
  margin-bottom: 1rem;
}

.fi-link {
  margin-bottom: .5rem;
}

.fi-link a {
  font-family: roc-grotesk-wide, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  white-space: normal;
}

.fcta-overline {
  color: #76E0AF;
}

.cta {
  font-family: roc-grotesk-wide, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  white-space: normal;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.footer-bar:hover > div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee-txt::after {
  content: "✦";
  display: inline-block;
  padding: 1rem 2rem;
}

.projhero {
  -ms-grid-columns: 1 / -1;
      grid-template-columns: 1 / -1;
  padding-top: 45vh;
}

.proj-pg-desc,
.p-heroimg {
  grid-column: 1 / -1;
  height: 100%;
}

.proj-pg-desc {
  -webkit-transition: 0s;
  transition: 0s;
  padding-top: 1.5rem;
  -webkit-animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, 0.75, 1) 1, projnameanim 2s cubic-bezier(0, 1, 0.75, 1) 1;
          animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, 0.75, 1) 1, projnameanim 2s cubic-bezier(0, 1, 0.75, 1) 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.p-heroimg {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 65vh;
  -webkit-animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, 0.75, 1) 1;
          animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, 0.75, 1) 1;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.p-heroimg img {
  -webkit-animation: proj-hero-img-load 2s cubic-bezier(0, 1, 0.75, 1) 1;
          animation: proj-hero-img-load 2s cubic-bezier(0, 1, 0.75, 1) 1;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}

.proj-pg-desc .projs-name::after {
  content: none;
}

.proj-prompt {
  margin-top: 6rem;
}

.proj-prompt-txt {
  grid-column: 1 / -1;
  font-weight: 600;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.proj-outcome {
  margin: 6rem auto 10rem;
}

.p-img-lead img {
  border-radius: .5rem;
}

.video {
  max-height: 80vh;
  aspect-ratio: 16 / 9;
  width: 100%;
  grid-column: 1 / -1;
  margin-bottom: 10rem;
}

.p-outcome-img-list {
  margin-bottom: 6rem;
}

.p-outcome-img {
  grid-column: 1 / -1;
}

.p-outcome-img-wrapper {
  border-radius: .5rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.p-outcome-img-wrapper img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.proj-next {
  margin: 0 1rem;
  padding: 0;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.proj-next .slide-text-all {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  max-width: 22rem;
}

.proj-next-ol,
.proj-next-link {
  display: block;
}

.proj-next-ol {
  font-family: roc-grotesk-wide, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1rem;
}

.proj-desc {
  grid-column: 1 / -1;
  margin-bottom: 6rem;
}

.opac-init {
  opacity: 0;
}

.text-gradient-init {
  background: linear-gradient(115deg, #e0e0e0 33%, #ada5f5 40%, #ffd9e2 46%, #FEF6D0 49%, #BFF0D9 57%, #e0e0e0 61%);
  color: transparent;
  background-position: right;
  background-clip: text;
  -webkit-background-clip: text;
}

.projs-init {
  margin: 0;
  padding: 0;
}

.projs-slide-gall-init {
  margin: 0;
}

.projs-card-init {
  padding: 0 1rem;
}

@media (max-width: 50rem) {
  .fi-links {
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  .header,
  .slide,
  .projs-card {
    -ms-grid-columns: (minmax(0, 1fr))[8];
        grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .header {
    top: 1.75rem;
  }
  .header,
  .footer,
  .slide {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero-txt,
  .fi-link a,
  .proj-next-link {
    font-size: clamp(2.75rem, 7.145vw, 7.155vw);
    line-height: 78%;
    letter-spacing: -.025em;
  }
  .slide.hero {
    padding: 2rem;
  }
  .hero .hero-txt {
    margin-bottom: -.5rem;
  }
  .about .slide-text-all {
    margin: 0 auto;
    max-width: 49.5%;
  }
  .projs-img-wrap {
    width: 74.52%;
    margin-left: auto;
  }
  .projs-text {
    width: 75%;
    padding-top: .25rem;
  }
  .projs-dscplne {
    margin-bottom: 1rem;
  }
  .finds-intro {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin-bottom: 0;
  }
  .finds-card-contain {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .footer-info {
    padding-left: 0;
    padding-right: 0;
  }
  .projhero {
    padding-top: 0;
    position: relative;
    padding-bottom: 5vh;
  }
  .p-heroimg {
    grid-column: 3 / -1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin-top: -2rem;
    margin-right: -3rem;
    height: 92vh;
    z-index: 50;
    position: relative;
  }
  .p-heroimg::before {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    position: absolute;
    border-radius: .5rem;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .p-heroimg-init {
    opacity: 0;
  }
  .proj-pg-desc {
    -ms-grid-row: 1;
        grid-row-start: 1;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 4rem;
    z-index: 55;
  }
  .proj-prompt {
    padding-top: 1.667rem;
    padding-bottom: 2rem;
  }
  .proj-prompt-txt {
    grid-column: 3 / -1;
  }
  .proj-desc {
    grid-column: -3 / -1;
  }
  .proj-next {
    margin: 0 1.667rem;
  }
  .proj-next .slide-text-all {
    max-width: 100%;
    grid-column: 3 / -3;
  }
  .flinks-overline {
    margin-bottom: 1rem;
  }
  .left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  .center {
    grid-column: 3 / span -3;
  }
  .right {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
  .full {
    grid-column: 1 / -1;
  }
  .projs-card-init {
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  .projs-text-init {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 90;
    bottom: 7.5em;
  }
}
/*# sourceMappingURL=style.css.map */