@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-size: calc(14px + 1.1vw);
  font-size: clamp(18px, calc(14px + 1.1vw), 24px);
  color: #0f1330;
  text-decoration: none;
  font-family: degular, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  background: #ECE7E4;
}

.header {
  z-index: 90;
}

.nobreak {
  display: inline-block;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.header {
  position: fixed;
  top: .75rem;
  margin-bottom: .75rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0.5rem;
  mix-blend-mode: hard-light;
}

.logo-type,
.logo-mk {
  text-transform: uppercase;
  line-height: 1rem;
  display: inline-block;
}

.logo-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.logo-type a {
  font-weight: 800;
  font-family: degular-display, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-mk {
  grid-column: -1 / -2;
  text-align: right;
}

.nav-contain {
  grid-column: -2 / -9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-class {
  color: black;
}

.nav-list {
  list-style-type: none;
  text-transform: uppercase;
  line-height: calc(14px + 1.1vw);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[7];
      grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 0.5rem;
}

.nav-item a,
.nav-item {
  display: block;
  text-align: right;
}

.nav-item {
  line-height: 1rem;
}

.nav-item:first-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.nav-item:last-of-type {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.header,
.footer,
.slide {
  padding: 0 1rem;
}

img {
  border-radius: .5rem;
}

h1,
h2 {
  font-family: degular-display, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.025rem;
  line-height: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -.015em;
  margin-bottom: 2rem;
}

.overline {
  text-transform: uppercase;
  display: inline-block;
}

p {
  margin-bottom: .5rem;
  line-height: 120%;
  letter-spacing: .001rem;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide {
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(20vw, auto);
}

.intro-text .slide-text-all {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 6rem);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.slide h1 {
  grid-column: 1 / -1;
}

img {
  grid-column: 1 / -1;
  max-height: 70vh;
}

.slide-text-all,
.projs-slide-misc-txt {
  grid-column: 2 / -2;
}

.hero {
  -ms-flex-line-pack: end;
      align-content: end;
  margin-bottom: 2rem;
}

.hero h1 {
  vertical-align: bottom;
}

.intro {
  row-gap: 1rem;
  position: relative;
}

.intro::after {
  content: "";
  z-index: -50;
  position: absolute;
  width: 100%;
  height: 90%;
  margin: 2rem 0 0 0;
  background: #0f1330;
}

.introimg:nth-child(1) {
  aspect-ratio: 4 / 3;
}

.introimg:nth-child(2) {
  grid-column-end: 9;
  aspect-ratio: 4 / 3;
}

.introimg:nth-child(3) {
  -ms-grid-column: 7;
      grid-column-start: 7;
  aspect-ratio: 1;
}

.projs {
  margin: 2rem 0 4rem 0;
}

.projs-card:not(.projs-card:last-of-type) {
  margin-bottom: 10%;
}

.projs-card {
  position: relative;
  display: block;
  display: -ms-grid;
  display: grid;
  margin: 30% 0;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
}

.projs-slide-gall {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projs-text {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projs-dscplne {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: inline-block;
}

.projs-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .25rem 0;
}

.projs-img {
  display: block;
  height: 100%;
  grid-column: 2 / -2;
}

.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #0f1330;
  justify-items: center;
}

.about-intro,
.about-links {
  grid-column: 2 / -2;
}

.about-header > span {
  font-size: inherit;
}

.about-links > p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  letter-spacing: -.015em;
}

.about-links > p a {
  font-size: inherit;
  text-decoration: underline;
}

.finds {
  background: #0f1330;
  padding: 4rem 0 0rem 0;
}

.finds h3,
.finds p {
  color: #ECE7E4;
}

.finds-intro,
.finds-card-contain {
  grid-column: 2 / -2;
}

.finds-intro {
  margin-bottom: 2rem;
}

.finds-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finds-card .overline .finds-pub,
.finds-card .overline .finds-auth,
.finds-card .finds-title {
  color: #ECE7E4;
}

.finds-pub::after {
  content: ' ✧ ';
}

.finds-title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: -.015em;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.finds-header {
  position: relative;
}

.finds-header::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 3rem;
  bottom: -1.1rem;
  border-top: 1.55px solid #ECE7E4;
}

.footer {
  background-color: #0f1330;
  height: 100%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.footer * {
  color: #ECE7E4;
  text-transform: uppercase;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.footer:hover > div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee-txt::after {
  content: "✦";
  display: inline-block;
  padding: 1rem 2rem;
}

.projhero {
  padding-top: 1rem;
  overflow-x: hidden;
}

.proj-pg-desc,
.p-heroimg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 100%;
}

.p-heroimg {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: calc(100% + 2rem);
  min-height: 50vh;
  display: block;
  margin-right: -2rem;
}

.proj-pg-desc {
  grid-column: 1 / -1;
  z-index: 50;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 1rem;
}

.proj-pg-desc .projs-name::after {
  content: none;
}

.proj-prompt-txt {
  grid-column: 2 / -1;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-img-lead {
  display: block;
  width: calc(100% + 2rem);
  margin-left: -2rem;
}

.proj-desc {
  grid-column: 2 / -2;
  margin: 30% 0;
}

@media (min-width: 1200px) {
  .header,
  .slide,
  .projs-card {
    -ms-grid-columns: (minmax(0, 1fr))[9];
        grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .header {
    top: 1.5rem;
  }
  .logo-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .logo-mk {
    grid-column: -1 / -2;
  }
  .nav-contain {
    grid-column: -4 / -2;
  }
  .nav-items {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-item {
    grid-column: span 1;
  }
  .nav-item:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .nav-item:last-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .nav-item a {
    text-align: left;
  }
  h1,
  h2 {
    font-family: degular-display, "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 3.5rem;
  }
  h2 {
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -.015em;
    margin-bottom: 2rem;
  }
  .header,
  .footer,
  .slide {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
  }
  .header,
  .nav-list,
  .slide {
    gap: 1.667rem;
  }
  .introimg:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .introimg:nth-child(2) {
    grid-column: -1 / -4;
  }
  .introimg:nth-child(3) {
    -ms-grid-column: -3;
        grid-column-start: -3;
  }
  .slide-text-all {
    grid-column: 4 / -4;
  }
  .projs {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .projs-slide-gall {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .projs-card {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0 4.125rem;
  }
  .projs-text {
    left: 4.125rem;
  }
  .projs-name {
    margin-bottom: 1rem;
  }
  .projs-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .about-desc {
    -webkit-columns: 2 auto;
            columns: 2 auto;
  }
  .about-links {
    grid-column: -1 / -4;
  }
  .finds-intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .finds-card-contain {
    grid-column: 4 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.667rem;
  }
  .finds-card {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
/*# sourceMappingURL=style.css.map */