//layout vars
$mb-grid-col-tmplt: repeat(4, minmax(0, 1fr));
$dsk-grid-col-num: repeat(8, minmax(0, 1fr));
$mb-grid-row-tmplt: minmax(5vw, auto);
$dsk-gap: 1.667rem;
$mb-gap: 1rem;
$pd-t-b: 6rem;
// palette
$main-dark: #000000;
$dark-warm: #EF476F;
$light-warm: #FDEB9B;
$dark-cool: #5448C8;
$light-cool: #76E0AF;
$main-bright: #e0e0e0;
//lighter
$dark-warm-half: #ffd9e2;
$light-warm-half: #FEF6D0;
$dark-cool-half: #ada5f5;
$light-cool-half: #BFF0D9;


//type style vars

$mb-fontsize: calc(14px + 1.1vw);
// $dsk-fontsize: calc(18px + 1.1vw);

$main-f-display: roc-grotesk-wide,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$main-f-reg: roc-grotesk,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$headerA-wt: 600;
$headerB-wt: 600;
$headerC-wt: 400;

//CSS vars for bg



// Resets and base

:root {
    --main-dark: #{$main-dark};
    --dark-warm: #{$dark-warm};
    --light-warm: #{$light-warm};
    --dark-cool: #{$dark-cool};
    --light-cool: #{$light-cool};
    --main-bright: #{$main-bright};
    height: min-content;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-size: $mb-fontsize;
    font-size: clamp(22px, calc(14px + 1.1vw), 26px);
    color: $main-bright;
    text-decoration: none;
    font-family: $main-f-reg;
    transition: 100ms linear;
}

.orb-canvas {
    background: $main-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    // pointer-events: none;
    z-index: -2;
    animation: fade-in 2s cubic-bezier(0, 1, .75, 1);
    animation-fill-mode: forwards;
}

//cursor
#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: lighten;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 64px;
        height: 64px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 2px $main-bright;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 128px;
        height: 128px;
        background-color: $dark-cool;
        border-color: $dark-cool;
    }

    #cursor.arrow::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}

//   end cursor

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

body {
    background: $main-dark;
}

.header {
    z-index: 90;
    animation: fade-in 2s cubic-bezier(0, 1, .75, 1);
    animation-fill-mode: forwards;
}

.nobreak {
    display: inline-block;
}

// /*! locomotive-scroll v4.1.2 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */

html.has-scroll-smooth {
    // this helps with stopping images from unloading out of frame and seeing them reloading when scrolling fast?? idk why
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// .has-scroll-smooth body {
//     overflow: hidden;
// }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}


[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: .5rem;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

// end locomotive scroll styles


// ----- Base Styles



//container
.container {
    overflow: hidden;
}

// header
.header {
    position: fixed;
    top: 1rem;
    margin-bottom: .75rem;
    display: grid;
    width: 100%;
    grid-template-columns: $dsk-grid-col-num;
    gap: $mb-gap;
    mix-blend-mode: difference;
}




.logo-type,
.logo-mk {
    text-transform: uppercase;
    line-height: 1rem;
    display: inline-block;
}

.logo-type {
    grid-column: 1 / 2;
    // flex: 4 4 auto;
}

.logo-type a {
    font-weight: $headerA-wt;
    font-family: $main-f-reg;
}

// .logo-mk {
//     grid-column: -1 / -2;
//     // flex: 1 1 auto; //auto for flex-basis helps take up the empty space instead of making it too short!
//     text-align: right;
// }

// __ nav

.nav-contain {
    grid-column: -1 / -3;
    // flex: 7 7 auto;
    justify-content: flex-end;
}

.test-class {
    color: black;
}

.nav-list {
    list-style-type: none;
    text-transform: uppercase;
    line-height: $mb-fontsize;
    // display: grid;
    display: flex;
    justify-content: flex-end;

    gap: $mb-gap;
}

.nav-item a,
.nav-item {
    // display: inline-block;
    text-align: right;
}

.nav-item a {
    padding-bottom: .25rem;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover,
.nav-item a:focus {
    color: $light-cool;
    border-color: $light-cool;
}

.nav-item {
    line-height: 1rem;
}

.nav-item:first-of-type {
    grid-column: 1 / 5;
    flex: 1 1 0px;
}

.nav-item:last-of-type {
    grid-column: 5 / 8;
    flex: 1 1 0px;
}

// __ overall padding on sides

.header,
.footer,
.slide {
    padding: 0 1rem;
}

.projs-img,
.p-heroimg,
.p-outcome-img {
    border-radius: .5rem;
    overflow: hidden;
}

// headers and hierarchy in general

.logo-type a,
.logo-mk,
.nav-item a,
.marquee-txt,
.marquee-txt::after,
.overline,
.overline *,
p {
    font-size: 22px;
}

.hero-txt,
.projs-name,
.about-header,
.extras-header,
.finds-header,
.finds-title,
.proj-next-link,
.proj-prompt-txt {
    font-family: $main-f-display;
}



.hero-txt,
.projs-name,
.proj-next-link,
.fi-link a {
    font-weight: $headerA-wt;
    text-transform: uppercase;
    font-size: 2.025rem;
    line-height: 1.5rem;
}

.hero-txt,
.extras-slide-gall::before,
.fi-link a,
.proj-next-link {
    font-size: clamp(2.5rem, 7.145vw, 7.155vw);
    line-height: 78%;
    letter-spacing: -.025em;
}

.projects-header {
    display: none;
}

.projs-name {
    font-size: clamp(2rem, 7.145vw, 7.155vw);
    line-height: 84%;
    letter-spacing: -.025em;
}

.about-header,
.extras-header,
.finds-header,
.proj-prompt-txt {
    font-weight: $headerB-wt;
    font-size: clamp(1.75rem, 3.9vw, 2.4rem);
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.finds-title,
.proj-next-ol {
    font-weight: $headerC-wt;
    font-size: clamp(1.46rem, 3vw, 1.65rem);
    line-height: 115%;
    letter-spacing: -.015em;
}

.overline,
.extras-title {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .03em;
}

.extras-title {
    font-weight: $headerB-wt;
    margin-bottom: .25rem;
}

p {
    margin-bottom: .5rem;
    line-height: 130%;
    letter-spacing: .019rem;
}

// ----- scrollbar

/* width */
::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $main-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main-bright;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark-warm;
}

// images

img,
.extras-img,
.p-outcome-img .p-outcome-img-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // for grid children imgs
    grid-column: 1 / -1;
}

.projs-img,
.p-img-lead {
    border-radius: .5rem;
    overflow: hidden;
    grid-column: 1 / -1;
}

.projs-img-wrap,
.p-outcome-img-wrapper,
.p-heroimg,
.p-img-lead {
    box-shadow: 0 0 2em 1em rgba($main-dark, .17);
}

// slide sizing

.slide {
    // min-height: 50vh;
    display: grid;
    gap: $mb-gap;
    grid-template-columns: $mb-grid-col-tmplt;
    grid-auto-rows: $mb-grid-row-tmplt;
}

// ------ layout

.slide.hero {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    align-items: end;
    pointer-events: none;
}

.slide h1 {
    grid-column: 1 / -1;
}

.slide-text-all,
.projs-slide-misc-txt,
.finds-intro,
.finds-card-contain {
    grid-column: 1 / -1;
}

// __ hero + about area

.hero {
    align-content: end;
    margin-bottom: 0rem;
    // min-height: 70vh;
}

.hero h1 {

    margin-bottom: 2.5rem;
}

.hero-txt {
    transition: none;
}

.about {
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
}

.about .slide-text-all {
    // min-height: 60vh;
    //just to center vertically
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: $mb-gap;
    justify-content: center;
    margin: 0 auto;
    max-width: 35ch;
}

// give both flex-basis of 0% so they both have the same grow shrink priority and end up doing both at the same rate!
.about .slide-text-all .about-header {
    min-width: 13.5rem;
    display: inline-block;
    flex: 1 1 0%;
}

.about .slide-text-all .slide-text-pwrap {
    min-width: 13.5rem;
    flex: 1 1 0%;
}

// __ proj cards

.projs {
    margin-top: $pd-t-b;
    margin-bottom: $pd-t-b;
}

// .projs-card:not(.projs-card:last-of-type) {
//     // margin-bottom: 30%;
// }

.projs-card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projs-slide-gall {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.projs-text {
    display: block;
    height: min-content;
    display: flex;
    flex-direction: column;
    order: 3;
    z-index: 90;
    margin-top: .75rem;
    clip-path: polygon(0 0, 100% 0, 100% 105%, 0% 105%); //preset for anim, not in use atm due to bug to iron out
}

.projs-dscplne {
    display: inline-block;
    margin-bottom: .25rem;
}

.projs-card .projs-text .projs-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25rem 0;
    // this is the set-up for gradient animation
    background: linear-gradient(115deg, #{$main-bright} 33%, #{$dark-cool-half} 40%, #{$dark-warm-half} 46%, #{$light-warm-half} 49%, #{$light-cool-half} 57%, #{$main-bright} 61%);
    background-size: 400%;
    background-position: right;
    transition: color .125s ease-in-out;
    background-clip: text;
    -webkit-background-clip: text;
}

.projs-card:hover .projs-text .projs-name {
    color: transparent;
    animation: projnameanim 1.25s cubic-bezier(.63, .07, .92, .38) infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes projnameanim {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}


.projs-img {
    object-fit: cover;
}

.projs-img-wrap {
    border-radius: .5em;
    display: inline-block;
    position: relative;
    height: 70vh;
    width: 100%;
}

.projs-img-wrap::before {
    display: block;
    //adding darker filter over pics
    content: "";
    background: rgba(0, 0, 0, 0.5);

    z-index: 50;
    position: absolute;
    border-radius: .5rem;
    left: 0;
    width: 100%;
    height: 100%;
}

// __ Extras
$gap: $mb-gap;

.extras {
    display: flex;
    flex-direction: column;
    margin-top: $pd-t-b;
    padding-inline: 0;
}

.extras-header {
    display: block;
    width: clamp(11ch, 48%, calc(100vw - 4rem));
    padding-left: $gap;
    // margin-bottom: clamp(calc(3rem - 10vw), 0);
}

.extras-title {
    margin-top: 1rem;
}

.extras-slide-gall {
    width: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    overflow: auto;
    gap: 2rem;
    cursor: grab;
}

.extras-slide-gall:active {
    cursor: grabbing;
}

.extras-slide-gall::-webkit-scrollbar {
    width: 0;
}

// .extras-slide-gall::before,
// .extras-slide-gall::after {
//     content: '';
//     display: block;
//     width: 2rem;
// }

.extras-card {
    width: calc(100% - (4 * #{$gap}));
    max-width: 18rem;
    flex-shrink: 0;
}

.extras-card:first-of-type {
    margin-left: $gap;
}

.extras-card:last-of-type {
    margin-right: $gap;
}

.extras-img-wrap {
    max-height: 35vh;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.extras-img {
    width: 100%;
    max-height: inherit;
    border-radius: .5rem;
}

// __ Finds
.finds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; // use this to prevent flex items from stretching to fill entire height
    gap: $mb-gap;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: $main-bright;
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
    position: relative;
}

.finds-intro {
    display: inline-block;
    margin-bottom: 2rem;
    flex: 1 1 29ch;
    // flex: 0 0 25%;
}

.finds-card-contain {
    flex: 1 1 29ch;
    // flex: 0 0 50%;
}

.finds-card {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-bright;
    border-radius: .5rem;
    padding: 2.5rem 1rem 2rem 1rem;
}

.finds-card:hover,
.finds-card:focus {
    background: $dark-cool;
    border-color: $dark-cool;
}

.finds-card:not(:last-of-type) {
    margin-bottom: 2rem;
}

.finds-card .overline {
    margin-bottom: .75rem;
}

.finds-pub::after {
    content: ' + ';
}

.finds-title {
    font-weight: $headerC-wt;
    letter-spacing: -.015em;
}

.finds-header {
    position: relative;
}



// __ footer

.footer {
    background-color: $main-dark;
    height: 100%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: $main-bright;
}

.footer * {
    color: $main-bright;
    text-transform: uppercase;
}

.footer-info {
    min-height: calc(100vh - 3rem);
    padding: 3rem $mb-gap 0;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: $mb-gap;
}

.flinks-overline {
    color: $dark-warm;
    margin-bottom: 1rem;
}

.fi-link {
    margin-bottom: .5rem;
}

.fi-link a {
    font-family: $main-f-display;
    display: block;
    white-space: normal;
}

.fi-link a:hover,
.fi-link a:focus {
    color: $light-cool;
    position: relative;
}

.fi-link a::after {
    content: ' \1F865';
    font-size: 50%;
    line-height: 76%;
    opacity: 0;
    vertical-align: top;
    transition: 100ms;
}

.fi-link a:hover::after,
.fi-link a:focus::after {
    content: ' \1F865';
    font-size: 50%;
    line-height: 76%;
    opacity: 1;
    vertical-align: top;
}

.fcta-overline {
    color: $light-cool;
}

.cta {
    font-family: $main-f-display;
    font-weight: $headerA-wt;
    white-space: normal;
}



@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}


.footer-bar:hover>div {
    animation-play-state: paused;
}

.marquee-txt::after {
    content: "+";
    display: inline-block;
    padding: 1rem 2rem;
}

// indiv project pages

.projhero {
    grid-template-columns: 1 / -1;
    padding-top: 45vh;
}

$upFrom: 6rem;
$delay: .25;


.proj-pg-desc,
.p-heroimg {
    grid-column: 1 / -1;
    height: 100%;
}

.proj-pg-desc {
    // grid-row-start: 1;
    transition: 0s;
    padding-top: 1.5rem;
    animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, .75, 1) 1, projnameanim 2s cubic-bezier(0, 1, .75, 1) 1;
    animation-fill-mode: forwards;

}

.p-heroimg {
    transform: translateY(100%);
    height: 65vh;
    animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, .75, 1) 1;
    animation-delay: .25s;
    animation-fill-mode: forwards;

    img {
        animation: proj-hero-img-load 2s cubic-bezier(0, 1, .75, 1) 1;
        animation-delay: inherit;
    }
}

.proj-pg-desc .projs-name::after {
    content: none;
}

.proj-prompt {
    margin-top: 6rem;
}

.proj-prompt-txt {
    grid-column: 1 / -1;
    font-weight: 600;
    margin-bottom: 0;
    align-self: center;
}

.proj-outcome {
    margin: 6rem auto 10rem;
}

.p-img-lead img {
    border-radius: .5rem;
}

.video {
    max-height: 80vh;
    aspect-ratio: 16 / 9;
    width: 100%;
    grid-column: 1 / -1;
    margin-bottom: 10rem;
}

.p-outcome-img-list {
    margin-bottom: 6rem;
}

.p-outcome-img {
    grid-column: 1 / -1;
}

.p-outcome-img-wrapper {
    border-radius: .5rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.p-outcome-img-wrapper img {
    transform: scale(2);
    // height: auto;
}

.proj-next {
    margin: 0 $mb-gap;
    padding: 0;
    border-top: 2px solid $main-bright;
    border-bottom: 2px solid $main-bright;
}

.proj-next .slide-text-all {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 22rem;
}

.proj-next-ol,
.proj-next-link {
    display: block;
}

.proj-next-ol {
    font-family: $main-f-display;
    margin-bottom: 1rem;
}

.proj-desc {
    // grid-column: 2 / -2;
    grid-column: 1 / -1;
    margin-bottom: $pd-t-b;
}

// ___ INITS
.opac-init {
    opacity: 0;
}

.text-gradient-init {
    background: linear-gradient(115deg, #{$main-bright} 33%, #{$dark-cool-half} 40%, #{$dark-warm-half} 46%, #{$light-warm-half} 49%, #{$light-cool-half} 57%, #{$main-bright} 61%);
    color: transparent;
    background-position: right;
    background-clip: text;
    -webkit-background-clip: text;
}

.projs-init {
    margin: 0;
    padding: 0;
    // height: 100vh;
    // position: relative;
}

$num-of-projs: 5;

.projs-slide-gall-init {
    // flex-direction: row;
    margin: 0;
    // width: calc(100% * #{$num-of-projs});
    // overflow: hidden;
}

.projs-card-init {
    // width: calc(100% / #{$num-of-projs});
    padding: 0 $mb-gap;
    //target card placement in flexbox
    // justify-content: baseline;
}

// .projs-text-init {
//     position: fixed;
//     z-index: 100;
//     //for now this allows for three lines on mobile. flagged
//     bottom: .5rem;
// }

@media (max-width: 50rem) {
    .fi-links {
        min-width: 100%;
    }
}

@media (min-width: 1200px) {
    $dsk-padding: 2rem;

    .header,
    .slide,
    .projs-card {
        grid-template-columns: $dsk-grid-col-num;
    }

    .header {
        top: 1.75rem;
    }

    .header,
    .footer,
    .slide {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .hero-txt,
    .fi-link a,
    .proj-next-link {
        font-size: clamp(2.75rem, 7.145vw, 7.155vw);
        line-height: 78%;
        letter-spacing: -.025em;
    }

    // __ hero intro
    .slide.hero {
        padding: 2rem;
    }

    .hero .hero-txt {
        margin-bottom: -.5rem;
    }

    // __ about / intro
    .about .slide-text-all {
        margin: 0 auto;
        max-width: 49.5%;
    }

    // __ Extras
    $gap: $dsk-padding;

    .slide.extras {
        padding-inline: 0;
    }

    .extras-header {
        padding-left: $gap;
    }

    .extras-slide-gall::before {
        margin-left: $gap;
    }

    .extras-card {
        width: calc(100% - (2 * #{$gap}));
    }

    .extras-card:first-of-type {
        margin-left: $gap;
    }

    .extras-card:last-of-type {
        margin-right: $gap;
    }

    // __Indiv Projs

    .projs-img-wrap {
        width: 74.52%;
        margin-left: auto;
    }

    .projs-text {
        width: 75%;
        padding-top: .25rem;
    }

    .projs-dscplne {
        margin-bottom: 1rem;
    }

    // __ finds
    .finds-intro {
        flex: 0 0 25%;
        margin-bottom: 0;
    }

    .finds-card-contain {
        flex: 0 0 50%;
    }

    // __ footer
    .footer-info {
        padding-left: 0;
        padding-right: 0;
    }

    // __ dedicated project pages

    .projhero {
        padding-top: 0;
        position: relative;
        padding-bottom: 5vh;
    }

    .p-heroimg {
        grid-column: 3 / -1;
        grid-row-start: 1;
        margin-top: -2rem;
        margin-right: -3rem;
        height: 92vh;
        z-index: 50;
        position: relative;

    }

    .p-heroimg::before {
        display: block;
        //adding darker filter over pics
        content: "";
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
        position: absolute;
        border-radius: .5rem;
        left: 0;
        width: 100%;
        height: 100%;

    }

    .p-heroimg-init {
        opacity: 0;
    }

    .proj-pg-desc {
        grid-row-start: 1;
        height: max-content;
        align-self: end;
        margin-bottom: 4rem;
        // position: absolute;
        // bottom: -2rem;
        z-index: 55;

    }

    .proj-prompt {
        padding-top: $dsk-gap;
        padding-bottom: 2rem;
    }

    .proj-prompt-txt {
        grid-column: 3 / -1;
    }


    .proj-desc {
        grid-column: -3 / -1;
    }

    // project next
    .proj-next {
        margin: 0 $dsk-gap;
    }

    .proj-next .slide-text-all {
        max-width: 100%;
        grid-column: 3 / -3;
    }

    // footer
    .flinks-overline {
        margin-bottom: 1rem;
    }

    // utility clases for outcome positioning
    .left {
        grid-column: 1 / span 4;
    }

    .center {
        grid-column: 3 / span 4;
    }

    .right {
        grid-column: 5 / span 4;
    }

    .full {
        grid-column: 1 / -1;
    }

    // inits
    .projs-card-init {
        // center vertically turned off on desktop
        margin-top: 0;
        padding: 0;
        position: relative;
    }

    .projs-text-init {
        opacity: 1;
        display: block;
        position: absolute;
        z-index: 90;
        bottom: 7.5em;
    }

}