//layout vars
$mb-grid-col-tmplt: repeat(4, minmax(0, 1fr));
$dsk-grid-col-num: repeat(8, minmax(0, 1fr));
$mb-grid-row-tmplt: minmax(5vw, auto);
$dsk-gap: 1.667rem;
$mb-gap: 1rem;
$pd-t-b: 6rem;
// palette
$main-dark: #000000;
// $main-dark: #000;
$dark-warm: #EF476F;
$light-warm: #FDEB9B;
$dark-cool: #5448C8;
$light-cool: #76E0AF;
$main-bright: #e0e0e0;

//type style vars

$mb-fontsize: calc(14px + 1.1vw);
// $dsk-fontsize: calc(18px + 1.1vw);

$main-f-display: roc-grotesk-wide,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$main-f-reg: roc-grotesk,
'Helvetica',
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$headerA-wt: 600;
$headerB-wt: 600;
$headerC-wt: 400;

// Resets and base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-size: $mb-fontsize;
    font-size: clamp(22px, calc(14px + 1.1vw), 26px);
    color: $main-bright;
    text-decoration: none;
    font-family: $main-f-reg;
    // transition: 100ms linear;
}

body {
    background: $main-dark;
}

.header {
    z-index: 90;
}

.nobreak {
    display: inline-block;
}


// /*! locomotive-scroll v4.1.2 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
// html.has-scroll-smooth {
//     overflow: hidden;
// }
/*
html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// .has-scroll-smooth body {
//     overflow: hidden;
// }

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: .5rem;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}
*/
// end locomotive scroll styles


// ----- Base Styles

//container
.container {
    overflow-x: hidden;
}

// header
.header {
    position: fixed;
    top: 1rem;
    margin-bottom: .75rem;
    display: grid;
    width: 100%;
    grid-template-columns: $dsk-grid-col-num;
    gap: $mb-gap;
    mix-blend-mode: difference;
}

.logo-type,
.logo-mk {
    text-transform: uppercase;
    line-height: 1rem;
    display: inline-block;
}

.logo-type {
    grid-column: 1 / 2;
    // flex: 4 4 auto;
}

.logo-type a {
    font-weight: $headerA-wt;
    font-family: $main-f-reg;
}

// .logo-mk {
//     grid-column: -1 / -2;
//     // flex: 1 1 auto; //auto for flex-basis helps take up the empty space instead of making it too short!
//     text-align: right;
// }

// __ nav

.nav-contain {
    grid-column: -1 / -3;
    // flex: 7 7 auto;
    justify-content: flex-end;
}

.test-class {
    color: black;
}

.nav-list {
    list-style-type: none;
    text-transform: uppercase;
    line-height: $mb-fontsize;
    // display: grid;
    display: flex;
    justify-content: flex-end;

    gap: $mb-gap;
}

.nav-item a,
.nav-item {
    // display: inline-block;
    text-align: right;
}

.nav-item a {
    padding-bottom: .25rem;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover,
.nav-item a:focus {
    color: $light-cool;
    border-color: $light-cool;
}

.nav-item {
    line-height: 1rem;
}

.nav-item:first-of-type {
    grid-column: 1 / 5;
    flex: 1 1 0px;
}

.nav-item:last-of-type {
    grid-column: 5 / 8;
    flex: 1 1 0px;
}

// __ overall padding on sides

.header,
.footer,
.slide {
    padding: 0 1rem;
}

.projs-img,
.p-heroimg {
    border-radius: .5rem;
    overflow: hidden;
}

// headers and hierarchy in general

h1,
h2,
h3,
h4,
.proj-next-link {
    font-family: $main-f-display;
}



h1,
h2,
.proj-next-link {
    font-weight: $headerA-wt;
    text-transform: uppercase;
    font-size: 2.025rem;
    line-height: 1.5rem;
}

h1,
.cta,
.proj-next-link {
    font-size: clamp(2.75rem, 7.145vw, 7.155vw);
    line-height: 78%;
    letter-spacing: -.025em;
}

h2 {
    font-size: clamp(2rem, 7.145vw, 7.155vw);
    line-height: 90%;
    letter-spacing: -.025em;
}

h3 {
    font-weight: $headerB-wt;
    font-size: clamp(1.75rem, 3.9vw, 2.4rem);
    line-height: 100%;
    margin-bottom: 1.5rem;
}

h4,
.fi-link a,
.proj-next-ol {
    font-weight: $headerC-wt;
    font-size: clamp(1.46rem, 3vw, 1.65rem);
    line-height: 115%;
    letter-spacing: -.015em;
    // margin-bottom: 2rem;
}

.overline {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .03em;
}

p {
    margin-bottom: .5rem;
    line-height: 140%;
    letter-spacing: .001rem;
}

// ----- scrollbar

/* width */
::-webkit-scrollbar {
    // outline: 1px solid $main-bright;
    width: .25rem;
    height: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $main-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main-bright;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark-warm;
}

// images

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // for grid children imgs
    grid-column: 1 / -1;

}

.projs-img,
.p-img-lead {
    border-radius: .5rem;
    overflow: hidden;
    grid-column: 1 / -1;
}

// slide sizing

.slide {
    // min-height: 50vh;
    display: grid;
    gap: $mb-gap;
    grid-template-columns: $mb-grid-col-tmplt;
    grid-auto-rows: $mb-grid-row-tmplt;
}

// ------ layout

.slide.hero {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    align-items: end;
}

.slide h1 {
    grid-column: 1 / -1;
}

.slide-text-all,
.projs-slide-misc-txt,
.finds-intro,
.finds-card-contain {
    grid-column: 1 / -1;
}

// __ hero + about area

.hero {
    align-content: end;
    margin-bottom: 0rem;
    // min-height: 70vh;
}

.hero h1 {
    padding-bottom: 2rem;
}

.about {
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
}

.about .slide-text-all {
    // min-height: 60vh;
    //just to center vertically
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $mb-gap;
    justify-content: center;
    margin: 0 auto;
    max-width: 35ch;
}

// give both flex-basis of 0% so they both have the same grow shrink priority and end up doing both at the same rate!
.about .slide-text-all h3 {
    min-width: 13.5rem;
    display: inline-block;
    flex: 1 1 0%;
}

.about .slide-text-all .slide-text-pwrap {
    min-width: 13.5rem;
    flex: 1 1 0%;
}

// __ proj cards

.projs {
    margin-top: $pd-t-b;
    margin-bottom: $pd-t-b;
}

// .projs-card:not(.projs-card:last-of-type) {
//     // margin-bottom: 30%;
// }

.projs-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projs-card-init {
    justify-content: center;
}


.projs-slide-gall {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.projs-text {
    height: min-content;
    display: flex;
    flex-direction: column;
    order: 3;
    margin-top: .75rem;

}

.projs-dscplne {
    display: inline-block;
    margin-bottom: .35rem;
}

.projs-card .projs-text .projs-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25rem 0;
    // this is the set-up for gradient animation
    background: linear-gradient(115deg, rgba(224, 224, 224, 1) 33%, rgba(84, 72, 200, 1) 40%, rgba(239, 71, 111, 1) 43%, rgba(253, 235, 155, 1) 51%, rgba(118, 224, 175, 1) 57%, rgba(224, 224, 224, 1) 61%);
    background-size: 400%;
    background-position: right;
    transition: color .125s ease-in-out;
    background-clip: text;
    -webkit-background-clip: text;
}

.projs-card:hover .projs-text .projs-name {
    color: transparent;
    animation: projnameanim .75s cubic-bezier(1, .125, 1, 1) infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes projnameanim {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}


.projs-img {
    object-fit: cover;
    position: relative;
}

.projs-img-wrap {
    display: inline-block;
    position: relative;
    height: 100%;
    height: min-content;
    margin-bottom: 20vh;
    width: 100%;
}

.projs-img-wrap::before {
    display: block;
    //adding darker filter over pics
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    position: absolute;
    border-radius: .5rem;
    left: 0;
    width: 100%;
    height: 100%;
}

// __ Finds
.finds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; // use this to prevent flex items from stretching to fill entire height
    gap: $mb-gap;
    border-width: 2px 0;
    border-style: solid;
    border-color: $main-bright;
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
    position: relative;
}

.finds-intro {
    display: inline-block;
    margin-bottom: 2rem;
    flex: 1 1 29ch;
    // flex: 0 0 25%;
}

.finds-card-contain {
    flex: 1 1 29ch;
    // flex: 0 0 50%;
}

.finds-card {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-bright;
    border-radius: .5rem;
    padding: 2.5rem 1rem 2rem 1rem;
}

.finds-card:hover,
.finds-card:focus {
    background: $dark-cool;
    border-color: $dark-cool;
}

.finds-card:not(:last-of-type) {
    margin-bottom: 2rem;
}

.finds-card .overline {
    margin-bottom: .75rem;
}

.finds-pub::after {
    content: ' + ';
}

.finds-title {
    font-weight: $headerC-wt;
    letter-spacing: -.015em;
}

.finds-header {
    position: relative;
}



// __ footer

.footer {
    background-color: $main-dark;
    height: 100%;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.footer * {
    color: $main-bright;
    text-transform: uppercase;
}

.footer-info {
    padding: 0 $mb-gap;
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
    display: flex;
    flex-wrap: wrap;
    gap: $mb-gap;
}

.flinks-overline,
.fcta-overline {
    margin-bottom: .75rem;
}

.flinks-overline {
    color: $dark-warm;
}

.fi-links {
    flex: 1 1 0%;
    margin-bottom: 2rem;
}

.fi-cta {
    flex: 3 3 0%;
}

.fi-link a {
    font-family: $main-f-display;
    text-transform: none;
}

.fcta-overline {
    color: $light-cool;
}

.cta {
    font-family: $main-f-display;
    font-weight: $headerA-wt;
    white-space: normal;
}



@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
    // width: max-content;
    // position: relative;
}


.footer-bar:hover>div {
    animation-play-state: paused;
}

.marquee-txt::after {
    content: "✦";
    display: inline-block;
    // margin-left: 2rem;
    padding: 1rem 2rem;
}

// indiv project pages

.projhero {
    // overflow: hidden;
    grid-template-columns: 1 / -1;
    padding-top: 4.75rem;
}

// .p-heroimg img {
//     display: block;
//     transform: scale(150%) translateY(15%);
// }
$upFrom: 3rem;
$delay: .25;

@keyframes proj-hero-img-load {
    0% {
        transform: scale(150%) translateY($upFrom);
    }

    100% {
        transform: scale(100%) translateY(0%);
    }
}

@keyframes proj-hero-imgwrap-load {
    0% {
        transform: translateY($upFrom);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.proj-pg-desc,
.p-heroimg {
    grid-column: 1 / -1;
    height: 100%;
}

.proj-pg-desc {
    // grid-row-start: 1;
    padding-top: 1.5rem;
    animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, .75, 1) 1, projnameanim 2s cubic-bezier(0, 1, .75, 1) 1;
    animation-fill-mode: forwards;

}

.p-heroimg {
    height: 65vh;
    animation: proj-hero-imgwrap-load 2s cubic-bezier(0, 1, .75, 1) 1;
    animation-delay: .25s;
    animation-fill-mode: forwards;

    img {
        animation: proj-hero-img-load 2s cubic-bezier(0, 1, .75, 1) 1;
        animation-delay: inherit;
    }
}

.proj-pg-desc .projs-name::after {
    content: none;
}

.proj-prompt {
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
}

.proj-prompt-txt {
    grid-column: 1 / -1;
    font-weight: 600;
    margin-bottom: 0;
    align-self: center;
}

.proj-next .slide-text-all {
    padding-top: $pd-t-b;
    padding-bottom: $pd-t-b;
    border-top: 2px solid $main-bright;
    border-bottom: 2px solid $main-bright;
}

.proj-next-ol,
.proj-next-link {
    display: block;
}

.proj-next-ol {
    font-family: $main-f-display;
    margin-bottom: 1rem;
}

.proj-desc {
    // grid-column: 2 / -2;
    grid-column: 1 / -1;
    margin-bottom: $pd-t-b;
}

// ___ INITS
.opac-init {
    opacity: 0;
}

.text-gradient-init {
    background: linear-gradient(115deg, rgba(224, 224, 224, 1) 33%, rgba(84, 72, 200, 1) 40%, rgba(239, 71, 111, 1) 43%, rgba(253, 235, 155, 1) 51%, rgba(118, 224, 175, 1) 57%, rgba(224, 224, 224, 1) 61%);
    color: transparent;
    background-position: right;
    background-clip: text;
    -webkit-background-clip: text;
}

.projs-init {
    margin: 0;
    padding: 0;
    height: 100vh;
}

$num-of-projs: 2;

.projs-slide-gall-init {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: calc(100% * #{$num-of-projs});
    overflow: hidden;
}

.projs-card-init {
    // height: 100%;
    width: calc(100% / #{$num-of-projs});
    // margin-top: 15vh;
    padding: $mb-gap;
}

.projs-text-init {
    position: absolute;
    z-index: 100;
    top: 60%;
}

@media (max-width: 50rem) {
    .fi-links {
        min-width: 100%;
    }
}

@media (min-width: 1200px) {
    $dsk-padding: 2rem;

    .header,
    .slide,
    .projs-card {
        grid-template-columns: $dsk-grid-col-num;
    }

    .header {
        top: 1.75rem;
    }

    .header,
    .footer,
    .slide {
        padding-left: $dsk-padding;
        padding-right: $dsk-padding;
    }

    // __ about / intro
    .about .slide-text-all {
        margin: 0 auto;
        max-width: 49.5%;
    }

    // __ project gallery

    .projs-slide-gall-init {
        // center vertically desktop
        align-items: center;
    }

    .projs-init {
        padding-left: 0;
        padding-right: 0;
    }

    .slide.projs-init .projs-text {
        left: $dsk-padding;
    }

    .projs-img {
        align-self: center;
    }


    // __ finds
    .finds-intro {
        flex: 0 0 25%;
        margin-bottom: 0;
    }

    .finds-card-contain {
        flex: 0 0 50%;
    }

    // __ footer
    .footer-info {
        padding-left: 0;
        padding-right: 0;
    }

    .fi-links {
        margin-bottom: 0;
    }

    // inits
    .projs-card-init {
        // position: relative;
        // center vertically desktop
        margin-top: 0;
    }

    .projs-text-init {
        display: block;
    }

}